/* reset */

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* scroll smooth aos links*/

html {
    scroll-behavior: smooth;
}

/* navigation bar */

/* navBar Container */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7.5rem;
    z-index: 3;
    display: flex;
    align-items: center;
}

/* Logo */

nav .logo img {
    max-height: 100px;
    height: 100%;
    object-fit: cover;
    margin-left: 40px;
    transition: all ease .3s;
}

nav .logo img:hover {
    max-height: 120px;
    transition: all ease .5s;
}

/* navBar */

nav .nav-bar {
    transition: all ease 1s;
    align-self: start;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff54;
    min-height: 4.6875rem;
    max-width: 50%;
    width: 100%;
    padding: 0 2.575rem 0 0.625rem;
}

/* navBar Links */

nav .nav-bar a {
    transition: all ease 1s;
    display: block;
    font-family: Rubik Mono One;
    font-size: 1.5rem;
    color: #7E9BF8;
    text-decoration: none;
    height: 60%;
    flex-basis: auto;
    padding: 0px;
}

nav .nav-bar a:hover {
    color: #fff336;
    /* border: 2px solid #0066ff36;
    background-color: #7E9BF8; */
    border: 2px solid #7E9BF8;
    border-radius: 20px;
    padding: 5px;
    transition: all ease .3s;
}

/* navigation bar - fim */

/* header */

/* header (content) */

header {
    max-width: 100vw;
    max-height: 1274px;
    width: 100%;
    height: 100vh;
    position: relative;
}

/* imagem de fundo */

header img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

/* modelo */

header .modelBox {
    display: flex;
    justify-content: center;
}

/* imagem */

header #model {
    position: absolute;
    bottom: -145px;
    z-index: 1;
    max-width: 634px;
    max-height: 1035px;
    height: 100%;
    width: 100%;
    display: block;
}

/* Yellow Square */

header .yellow-Square {
    transition: all ease 2s;
    position: absolute;
    bottom: 0;
    left: 2.5625rem;
    z-index: 1;
    width: 318px;
    height: 318px;
    display: block;
    background-color: #FFF336;
}

/* Bands List */

header .bands {
    transition: all ease 1s;
    position: absolute;
    bottom: 44%;
    left: 50%;
    transform: translate(-67%, 0%);
    z-index: 0;
    max-width: 42, 5625;
    max-height: 24, 215rem;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 6rem;
    color: #FFF336;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Tic Tac Toe */

.tic-tac-toe {
    transition: all ease 1s;
    position: absolute;
    top: 25%;
    right: 2.575rem;
    max-width: 19.25rem;
    max-height: 21.3125rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0;
    border: 2px solid #FFF336;
    z-index: 1;
}

.tic-tac-toe>.circle-Holder {
    transition: all ease 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF336;
    padding: 0;
    border: 2px solid #FFF336;
    margin: 0;
}

.tic-tac-toe>.circle-Holder>.circle {
    transition: all ease 3s;
    max-width: 1.5625rem;
    max-height: 1.5625rem;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #fff336;
}

/* Festival */

header .festival-title {
    transition: all ease 1s;
    position: absolute;
    bottom: 6%;
    left: 51%;
    z-index: 2;
    max-width: 32.3125rem;
    max-height: 22.989375rem;
    width: 100%;
    height: 100%;
    font-family: Rubik Mono One;
    font-size: 6.25rem;
    color: #fff;
}

/* Scroll Indication */

header .scroll {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .scroll a {
    text-decoration: none;
}

header .scroll #scroll {
    font-size: 1.875rem;
    color: #7E9BF8;
    transition: all ease 1s;
}

header .scroll #scroll:hover {
    color: #fff336;
    cursor: pointer;
    transition: all ease .5s;
}

/* header-fim */

/* Form */

#form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 100vh;
    background: rgb(63, 63, 63);
}

/* background image */

#form .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#form .bg-img img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}
/* overlay */
#form .bg-img::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.65;
    position: absolute;
    top: 0;
    left: 0;
  }

/* Form Container */

#form .container {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 70px;
    max-width: 1280px;
    max-height: 85vh;
    width: 50%;
    height: 100%;
    background: rgb(63, 63, 63);
    box-shadow: 1px 1px 6px 1px rgb(0, 255, 191);
    border-radius: 1em;
    transition: all ease 1s;
}

#form .container:hover {
    box-shadow: 1px 1px 6px 2px rgb(255, 196, 0);
    transition: all ease .5s;
}

/* texto */

#form .container p {
    color: red;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}

/* inputs */

/* all textboxs */

#form .container #textbox {
    padding: 10px;
    border-radius: 0.3em;
    height: 40px;
    border-color: #fefaff;
    box-shadow: 1px 1px 6px 1px rgb(0, 255, 191);
    margin-bottom: 24px;
    background: rgb(63, 63, 63);
    color: #fefaff;
    transition: all ease 1s;
}

#form .container:hover #textbox {
    border: 1px solid rgb(255, 196, 0);
    box-shadow: 1px 1px 6px 2px rgb(255, 196, 0);
    transition: all ease .5s;
}

#form .container:hover .gallery .card {
    border: 1px solid rgb(255, 196, 0);
    box-shadow: 1px 1px 6px 2px rgb(255, 196, 0);
    transition: all ease .5s;
}

#form .container:hover .gallery .card .card-title p {
    color: rgb(255, 196, 0);
    transition: all ease .5s;
}

#form .container:hover .gallery .card .card-choice input:checked~label .checkbox::before {
    border-color: rgb(255, 196, 0);
    transition: all ease .5s;
}

#form .container:hover .gallery .card .card-choice .checkbox {
    border-color: rgb(255, 196, 0);
    transition: all ease .5s;
}

#form .container:hover .gallery .card .card-choice label {
    color: rgb(255, 196, 0);
    transition: all ease .5s;
}

/* 1st info box */

#form .container .info-box1 {
    display: flex;
    flex-direction: row;
}

#form .container .info-box1 input {
    margin-right: 20px;
    width: calc(100% / 2 - (10px / 2));
}

#form .container .info-box1 input:nth-last-child(1) {
    margin-right: 0px;
}

/* input animation */

#form .container .info-box1 .name {
    transition: all ease .5s;
}

#form .container .info-box1 .name:hover {
    width: 60%;
    transition: all ease .5s;
}

#form .container .info-box1 .morada {
    transition: all ease .5s;
}

#form .container .info-box1 .morada:hover {
    width: 60%;
    transition: all ease .5s;
}

/* 2nd info box */

#form .container .info-box2 {
    display: flex;
    flex-direction: row;
}

#form .container .info-box2 select {
    margin-right: 20px;
    width: calc(100% / 2 - (10px / 2));
}

#form .container .info-box2 select:nth-last-child(1) {
    margin-right: 0px;
}

/* input animation */

#form .container .info-box2 .gender {
    transition: all ease .5s;
}

#form .container .info-box2 .gender:hover {
    width: 60%;
    cursor: pointer;
    transition: all ease .5s;
}

#form .container .info-box2 .ticket {
    transition: all ease .5s;
}

#form .container .info-box2 .ticket:hover {
    width: 60%;
    cursor: pointer;
    transition: all ease .5s;
}

/* 3rd info box + input animation*/

#form .container .info-box3 {
    display: flex;
    flex-direction: row;
}

#form .container .info-box3 .mail {
    margin-right: 20px;
    width: calc(70% - (10px / 2));
    transition: all ease .5s;
}

#form .container .info-box3 .mail:hover {
    width: 85%;
    transition: all ease .5s;
}

#form .container .info-box3 .phone {
    margin-right: 0px;
    width: 30%;
    transition: all ease .5s;
}

#form .container .info-box3 .phone:hover {
    width: 40%;
    transition: all ease .5s;
}

/* cards */

/* gallery */

#form .container .gallery {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    height: 65%;
    margin-bottom: 50px;
    margin-top: 50px;
}

/* cards */

#form .container .gallery .card {
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    background-color: rgb(63, 63, 63);
    box-shadow: 1px 1px 6px 1px rgb(0, 255, 191);
    padding: 10px;
    margin-right: 25px;
    height: 100%;
    width: calc(100% / 3 - (25px / 3));
    transition: all ease 1s;
}

#form .container .gallery .card:nth-last-child(1) {
    margin-right: 0px;
}

/* cards img */

#form .container .gallery .card .card-img {
    position: relative;
    bottom: 30px;
}

#form .container .gallery .card .card-img img {
    height: 100%;
    max-height: 250px;
    width: 100%;
    object-fit: fill;
    box-shadow: 0px 6px 20px 0px black;
    border-radius: 0.3em;
}

/* subtitle */

#form .container .gallery .card .card-subtitle {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 15px;
    margin: 0px 10px;
}

#form .container .gallery .card .card-subtitle p {
    font-size: 9px;
    color: #c4b2b4;
    font-weight: 700;
    text-transform: uppercase;
}

/* title */

#form .container .gallery .card .card-title {
    margin: 0px 10px;
}

#form .container .gallery .card .card-title p {
    color: rgb(0, 255, 191);
    font-weight: 700;
    font-size: 14px;
    transition: all ease 1s;
}

/* choice */

#form .container .gallery .card .card-choice {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
    height: 100%;
}

/* radiobutton */

#form .container .gallery .card .card-choice .input-hidden {
    display: none;
    margin: 0px 25px 0px 10px;
    cursor: pointer;
    transform: scale(2);
    transition: all ease 1s;
}

/* label (texto) */

#form .container .gallery .card .card-choice label {
    display: flex;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(0, 255, 191);
    transition: all ease 1s;
}

/* span */

#form .container .gallery .card .card-choice .checkbox {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    background: rgb(63, 63, 63);
    border: 2px solid rgb(0, 255, 191);
    border-radius: 0.25rem;
    cursor: pointer;
    margin: 0px 15px 0px 0px;
    transition: border-color ease 1s;
}

/* check animation */

#form .container .gallery .card .card-choice input:checked~label .checkbox::before {
    width: 0.80rem;
    height: 0.5rem;
    transform: translate(-50%, -75%) rotate(-55deg);
    border-left: 3px solid rgb(0, 255, 191);
    border-bottom: 3px solid rgb(0, 255, 191);
    transition: border-color ease 1s;
}

#form .container .gallery .card .card-choice .checkbox::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%) rotate(-360deg);
    width: 0;
    height: 0;
    display: block;
    border: none;
    transition: 0.3s ease width, 0.5s ease height, 0.8s ease transform;
}

/* buttons */

#form .container .buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

/* submit */

#form .container .buttons input {
    width: 20%;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 0.7em;
    margin-right: 20px;
    cursor: pointer;
    transition: all ease .5s;
}

#form .container .buttons .submit {
    background: rgb(63, 63, 63);
    border: 2px solid #ab3e233a;
    box-shadow: 1px 1px 4px 1px #ab3e23;
}

/* submit animation */

#form .container .buttons .submit:hover {
    -webkit-animation: color-change-5x-submit 8s infinite forwards;
    animation: color-change-5x-submit 8s infinite forwards;
    transition: all ease .5s;
}

/* reset */

#form .container .buttons .clear {
    background: rgb(63, 63, 63);
    border: 2px solid #252f6046;
    box-shadow: 1px 1px 4px 1px #252f60;
}

/* reset animation */

#form .container .buttons .clear:hover {
    -webkit-animation: color-change-5x-reset 8s infinite forwards;
    animation: color-change-5x-reset 8s infinite forwards;
    transition: all ease .5s;
}

/* info */

#form .container .info {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.6;
    color: #c4b2b4;
}

/* mudar a cor do placeholder */

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fefaff;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fefaff;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fefaff;
}

/* Form-Fim */

/* keyframes animations */

/* submit animations */

@keyframes color-change-5x-submit {
    0% {
        border: 2px solid #ab3e233a;
        box-shadow: 1px 1px 6px 1px #ab3e23;
    }
    25% {
        border: 2px solid #f5c01034;
        box-shadow: 1px 1px 6px 1px #f5be10;
    }
    50% {
        border: 2px solid #3cd80d3b;
        box-shadow: 1px 1px 6px 1px #3bd80d;
    }
    75% {
        border: 2px solid #252f6046;
        box-shadow: 1px 1px 6px 1px #252f60;
    }
    90% {
        border: 2px solid #b22cff38;
        box-shadow: 1px 1px 6px 1px #b22cff;
    }
    100% {
        border: 2px solid #ab3e233a;
        box-shadow: 1px 1px 6px 1px #ab3e23;
    }
}

/* reset animations */

@keyframes color-change-5x-reset {
    0% {
        border: 2px solid #252f6046;
        box-shadow: 1px 1px 6px 1px #252f60;
    }
    25% {
        border: 2px solid #b22cff38;
        box-shadow: 1px 1px 6px 1px #b22cff;
    }
    50% {
        border: 2px solid #ab3e233a;
        box-shadow: 1px 1px 6px 1px #ab3e23;
    }
    75% {
        border: 2px solid #f5c01034;
        box-shadow: 1px 1px 6px 1px #f5be10;
    }
    90% {
        border: 2px solid #3cd80d3b;
        box-shadow: 1px 1px 6px 1px #3bd80d;
    }
    100% {
        border: 2px solid #252f6046;
        box-shadow: 1px 1px 6px 1px #252f60;
    }
}